<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
  <!-- Bootstrap 3.3.7 -->
  <link defer rel="stylesheet" href={~p"/bower_components/bootstrap/dist/css/bootstrap.min.css"}>
  <!-- Font Awesome -->
  <link defer rel="stylesheet" href={~p"/bower_components/font-awesome/css/font-awesome.min.css"}>
  <!-- daterange picker -->
  <link defer rel="stylesheet" href={~p"/bower_components/bootstrap-daterangepicker/daterangepicker.css"}>
  <!-- bootstrap datepicker -->
  <link defer rel="stylesheet" href={~p"/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"}>
  <!-- Select2 -->
  <link defer rel="stylesheet" href={~p"/bower_components/select2/dist/css/select2.min.css"}>
  <!-- Theme style -->
  <link defer rel="stylesheet" href={~p"/dist/css/AdminLTE.min.css"}>
  <link defer rel="stylesheet" href={~p"/dist/css/custom.css"}>
  <link defer rel="stylesheet" href={~p"/dist/css/skins/skin-blue.min.css"}>

  <!-- temporary -->
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- Google Font -->
  <link defer rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <!-- jQuery 3 -->
  <script defer type="text/javascript" src={~p"/bower_components/jquery/dist/jquery.min.js"}></script>
  <!-- Bootstrap 3.3.7 -->
  <script defer type="text/javascript" src={~p"/bower_components/bootstrap/dist/js/bootstrap.min.js"}></script>
  <!-- Select2 -->
  <script defer type="text/javascript" src={~p"/bower_components/select2/dist/js/select2.full.min.js"}></script>
  <!-- date-range-picker -->
  <script defer type="text/javascript" src={~p"/bower_components/moment/min/moment.min.js"}></script>
  <script defer type="text/javascript" scr={~p"/bower_components/bootstrap-daterangepicker/daterangepicker.js"}></script>
  <!-- SlimScroll -->
  <script defer type="text/javascript" src={~p"/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"}></script>
  <!-- AdminLTE App -->
  <script defer type="text/javascript" src={~p"/dist/js/adminlte.min.js"}></script>
  <!-- AdminLTE for demo purposes -->
  <script defer type="text/javascript" src={~p"/dist/js/demo.js"}></script>
  <script defer type="text/javascript" src={~p"/js/app.js"}></script>
</head>
<body class="skin-blue layout-fixed sidebar-mini">

  <!-- Site wrapper -->
  <div class="wrapper">
    <%= @inner_content %>
  </div>
  <!-- ./wrapper -->
</body>
</html>
